body {
    font-family: 'Noto Sans', 'Droid Sans', sans-serif;
    position: relative;
    font-size: 1em;
    left: 50%;
    width: 780px;
    margin-left: -390px;
    background-color: #96A8C8;
}

button {
    background-color: #68A;
    color: white;
    border: solid white 1px;
    font-size: 1.2em;
}


.box {
    display: block;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 12px;
    background-color: #fff;
}

.small {
    font-size: 0.8em;
    color: #444;
}

header {
    position: relative;
    left: 0;
    width: 780px;
}

#heading-left {
    margin-left: 24px;
    display: block;
    width: 20em;
}

#container {
    text-align: center;
    position: relative;
    margin-top: 15px;
    width: 100%;
}


#input-title {
    width: 16em;
    font-size: 1.5em;
}

#month {
    width: 3em;
}

#date {
    width: 3em;
}

#year {
    width: 5em;
}

#author {
    width: 10em;
}

.url {
    width: 60%;
    height: 1.4em;
    font-size: 1.2em;
}

#upload {
    text-align: center;
    position: relative;
    margin-bottom: 24px;
}